In [1]:
mylist=[1,2,3]

In [3]:
mylist.append(4)

In [4]:
mylist

[1, 2, 3, 4]

In [5]:
mylist.pop()

4

In [6]:
mylist

[1, 2, 3]

In [7]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [8]:
mylist.insert(1,4)

In [9]:
mylist

[1, 4, 2, 3]

In [10]:
def name_of_function():
    print('hello')

In [11]:
name_of_function()

hello

In [12]:
def name_of_function(name):
    print(f'hello {name}')

In [13]:
name_of_function('Mahtab')

hello Mahtab

In [14]:
def add_two_number(num1,num2):
    return num1+num2

In [15]:
result=add_two_number(2,10)

In [16]:
print(result)

12

In [17]:
def name_function():
    '''
     DOCSTRING: INFORMATION ABOUT FUNCTION
     INPUT: no input 
     OUTPUT: hello
    '''
    print('hello')

In [19]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: INFORMATION ABOUT FUNCTION
    INPUT: no input
    OUTPUT: hello

In [20]:
def say_hello(name):
    print(f'hello {name}')

In [21]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [22]:
def say_hello(name='Name'):
    print(f'hello {name}')

In [23]:
say_hello()

hello Name

In [24]:
say_hello('Mahta')

hello Mahta

In [25]:
result=say_hello()

hello Name

In [26]:
result

In [27]:
type(result)

NoneType

In [38]:
def say_hell(name='Name'):
   return 'hello '+name

In [39]:
result=say_hell('Mahtab')

In [40]:
result

'hello Mahtab'

In [41]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [42]:
dog_check('There is a nice dog')

True

In [43]:
dog_check('There is a nice cat')

False

In [44]:
dog_check('Dog is good')

True

In [45]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [46]:
dog_check('Dog is good')

True

In [48]:
def pig_latin(word):
    first_letter=word[0]
    if first_letter in 'aeiou':
        pig_word=word+'ay'
    else:
        pig_word=word[1:]+first_letter+'ay'     
    return pig_word

pig_latin('Mahtab')

In [50]:
pig_latin('oragne')

'oragneay'

In [1]:
def my_fun(a,b):
    return sum((a,b))*0.05

In [2]:
my_fun(40,60)

5.0

In [3]:
def my_fun(a,b,c=0,d=0):
    return sum((a,b,c,d))*0.05

In [4]:
my_fun(40,60,100)

10.0

In [5]:
my_fun(40,60,100,100)

15.0

In [6]:
my_fun(40,60,100,100,100)

TypeError: my_fun() takes from 2 to 4 positional arguments but 5 were given

In [7]:
def myfunc(*args):
    print(args)

In [8]:
myfunc(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [9]:
def sum_of_numbers(*args):
    return sum(args)

In [10]:
sum_of_numbers(1,2,3,4,5,6,6,7,8,9,10)

61

In [11]:
def sum_of_numbers(*nums):
    return sum(nums)

In [12]:
sum_of_numbers(1,2,3,4,5,6,6,7,8,9,10)

61

In [15]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('the selected fruit is {}'.format(kwargs['fruit']))
    else:
        print('i can not find any fruit')

In [16]:
myfunc(fruit='apple',color='red')

the selected fruit is apple

In [17]:
def myfunc(**kwargs):
    print(kwargs)

In [18]:
myfunc(fruit='apple',color='red')

{'fruit': 'apple', 'color': 'red'}

In [21]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('there is {} of {}'.format(args[0],kwargs['food']))

In [22]:
myfunc(1,2,3,4,5,6,fruit='apple',color='red',food='eggs')

(1, 2, 3, 4, 5, 6)
{'fruit': 'apple', 'color': 'red', 'food': 'eggs'}
there is 1 of eggs


LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd¶
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [23]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [24]:
lesser_of_two_evens(2,4)

2

In [25]:
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter¶
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [28]:
def animal_crackers(word):
    word_array=word.split()
    return word_array[0][0].lower()==word_array[1][0].lower()

In [31]:
animal_crackers('Crazy Kangaroo')

False

In [32]:
animal_crackers('Levelheaded Llama')

True

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False¶
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [47]:
def makes_twenty(a,b):
    return sum((a,b))==20 or (20 in [a,b])

In [48]:
makes_twenty(20,10)

True

In [49]:
makes_twenty(12,8)

True

In [50]:
makes_twenty(2,3)

False

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name¶
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [51]:
def old_macdonald(word):
    return word[0:4].capitalize()+word[4:].capitalize()

In [52]:
old_macdonald('macdonald')

'MacdOnald'


MASTER YODA: Given a sentence, return a sentence with the words reversed¶
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [59]:
def  master_yoda(sentence):
    word_list=sentence.split()
    word_list.reverse()
    return " ".join(word_list)

In [60]:
master_yoda('My name is mahtab')

'mahtab is name My'

FIND 33:¶
Given a list of ints, return True if the array contains a 3 next to a 3 somewher

In [65]:
def has_33(mylist):
    mystring=''
    for item in mylist:
        mystring=mystring+str(item)
    return '33' in mystring

In [66]:
has_33([1, 3, 1, 3])

False

In [67]:
has_33([1, 3, 3])

True

In [68]:
has_33([3, 1, 3])

False


PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [70]:
def paper_doll(word):
    new_word=''
    for letter in word:
        new_word=new_word+3*letter
    return new_word

In [71]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [1]:
def square(num):
    return num**2

In [2]:
square(4)

16

In [3]:
mylist=[1,2,3,4,5]
map(square,mylist)

In [4]:
for item in map(square,mylist):
    print(item)

1
4
9
16
25

In [5]:
list(map(square,mylist))

[1, 4, 9, 16, 25]

In [9]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'Even'
    else:
        return mystring[0]

In [10]:
my_string_list=['Mahtab','Mohsen','fatemeh','hadiseh']

In [11]:
list(map(splicer,my_string_list))

['Even', 'Even', 'f', 'h']

In [12]:
def check_even(num):
    return num%2==0

In [13]:
my_list=[1,2,3,4,5,6,7,8]

In [14]:
filter(check_even,my_list)

In [15]:
list(filter(check_even,my_list))

[2, 4, 6, 8]

In [16]:
def square(num):
    return num**2

In [17]:
def square(num):return num**2

In [18]:
square(3)

9

In [19]:
square=lambda num: num**2

In [20]:
square(3)

9

In [21]:
list(map(lambda num: num**2,my_list))

[1, 4, 9, 16, 25, 36, 49, 64]

In [22]:
list(filter(lambda num: num%2==0,my_list))

[2, 4, 6, 8]

Scope resolution via LEGB rule :
In Python, the LEGB rule is used to decide the order in which the namespaces are to be searched for scope resolution.
The scopes are listed below in terms of hierarchy(highest to lowest/narrowest to broadest):

Local(L): Defined inside function/class
Enclosed(E): Defined inside enclosing functions(Nested function concept)
Global(G): Defined at the uppermost level
Built-in(B): Reserved names in Python builtin modules

In [2]:
name='This is a global string'
def my_first_func():
    name='zahra'
    def my_second_func():
        name='Mahtab'
        print(name)
    my_second_func()

In [3]:
# Local
my_first_func()

Mahtab

In [4]:
name='This is a global string'
def my_first_func():
    name='zahra'
    def my_second_func():
#         name='Mahtab'
        print(name)
    my_second_func()

In [5]:
# Enclosed(E)
my_first_func()

zahra

In [6]:
name='This is a global string'
def my_first_func():
#     name='zahra'
    def my_second_func():
#         name='Mahtab'
        print(name)
    my_second_func()

In [7]:
# Global
my_first_func()

This is a global string

In [8]:
x=50
def func():
    print(f'X is {x}')

In [9]:
func()

X is 50

In [12]:
x=50
def func():
    print(f'X is {x}')
    x=200
    print(f'x is changed locally and it is equal to {x}')

In [13]:
func()

UnboundLocalError: local variable 'x' referenced before assignment

In [14]:
x=50
def func(x):
    print(f'X is {x}')
    x=200
    print(f'x is changed locally and it is equal to {x}')

In [15]:
func(x)

X is 50
x is changed locally and it is equal to 200

In [16]:
x

50

In [17]:
x=50
def func():
    global x
    print(f'X is {x}')
    x='New value'
    print(f'x is changed globally and it is equal to {x}')

In [18]:
x

50

In [19]:
func()

X is 50
x is changed globally and it is equal to New value

In [20]:
x

'New value'

In [21]:
x=50
def func(x):
    print(f'X is {x}')
    x='New value'
    print(f'x is changed globally and it is equal to {x}')
    return x

In [22]:
x

50

In [24]:
func(x)

X is 50
x is changed globally and it is equal to New value

'New value'

In [25]:
x

50

In [26]:
x=func(x)

X is 50
x is changed globally and it is equal to New value

In [27]:
x

'New value'