In [1]:
city='tehran'

if city=='shiraz':
    print('shiraz')
elif city=='esfehan':
    print('esfehan')
elif city=='tehran':
    print('tehran')
else:
    print('i dont know')

tehran

In [2]:
city='shiraz'

if city=='shiraz':
    print('shiraz')
elif city=='esfehan':
    print('esfehan')
elif city=='tehran':
    print('tehran')
else:
    print('i dont know')

shiraz

In [3]:
city='rasht'

if city=='shiraz':
    print('shiraz')
elif city=='esfehan':
    print('esfehan')
elif city=='tehran':
    print('tehran')
else:
    print('i dont know')

i dont know

In [1]:
my_list=[1,2,3,4,5,6,7,8,9]

In [2]:
for item in my_list:
    print(item)

1
2
3
4
5
6
7
8
9

In [3]:
for item in my_list:
    print('Hello {0}'.format(item))

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

In [4]:
for item in my_list:
    if item % 2==0:
        print(item)

2
4
6
8

In [5]:
for item in my_list:
    if item % 2 !=0:
        print(item)

1
3
5
7
9

In [6]:
for item in my_list:
    if item % 2 == 0:
        print(f'even number: {item}')
    else:
        print(f'odd number: {item}')

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
odd number: 7
even number: 8
odd number: 9

In [8]:
my_sum=0
for item in my_list:
    my_sum=item+my_sum
    print(f'sum of number in each iteration is: {my_sum}')
print(f'the total sum of numbers: {my_sum}')

sum of number in each iteration is: 1
sum of number in each iteration is: 3
sum of number in each iteration is: 6
sum of number in each iteration is: 10
sum of number in each iteration is: 15
sum of number in each iteration is: 21
sum of number in each iteration is: 28
sum of number in each iteration is: 36
sum of number in each iteration is: 45
the total sum of numbers: 45

In [9]:
my_string='Where are you my best friend'
for c in my_string:
    print(c)

W
h
e
r
e

a
r
e

y
o
u

m
y

b
e
s
t

f
r
i
e
n
d

In [10]:
for c in 'Where are you my best friend':
    print(c)

W
h
e
r
e

a
r
e

y
o
u

m
y

b
e
s
t

f
r
i
e
n
d

In [11]:
for _ in 'hello world':
    print('where are you my best friend')

where are you my best friend
where are you my best friend
where are you my best friend
where are you my best friend
where are you my best friend
where are you my best friend
where are you my best friend
where are you my best friend
where are you my best friend
where are you my best friend
where are you my best friend

In [12]:
tupe=(1,2,3)

In [13]:
for item in tupe:
    print(tupe)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

In [14]:
for item in tupe:
    print(item)

1
2
3

In [15]:
mylist=[(1,2),(3,4),(5,6),(7,8),(9,10)]

In [16]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [17]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

In [18]:
for (a,b) in mylist:
    print(a)

1
3
5
7
9

In [19]:
for a,b in mylist:
    print(b)

2
4
6
8
10

In [20]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]

In [21]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [22]:
for a,b,c in mylist:
    print(a)

1
4
7

In [23]:
for (a,b,c) in mylist:
    print(f'a = {a}, b= {b}, c={c}')

a = 1, b= 2, c=3
a = 4, b= 5, c=6
a = 7, b= 8, c=9

In [24]:
for (a,b) in mylist:
    print(a)
    print(b)

ValueError: too many values to unpack (expected 2)

In [25]:
d={'item 1':1,'item 2':2,'item 3':3}

In [26]:
for keys in d:
    print(keys)

item 1
item 2
item 3

In [27]:
for item in d.items():
    print(item)

('item 1', 1)
('item 2', 2)
('item 3', 3)

In [28]:
for key,value in d.items():
    print(value)

1
2
3

In [29]:
for value in d.values():
    print(value)

1
2
3

In [30]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

In [32]:
x=0
while x<5:
    print(x)
    x=x+1
else:
    print('x is not less than 5')

0
1
2
3
4
x is not less than 5

In [33]:
x=50
while x<50:
    print(x)
    x=x+1
else:
    print('x is less than 5')

x is less than 5

In [34]:
y=[1,2,3]

In [35]:
for item in y:
    #comments

SyntaxError: unexpected EOF while parsing (<ipython-input-35-6066e2608698>, line 2)

In [37]:
for item in y:
    #comments
    pass
print('end of script file')

end of script file

In [38]:
myString='mahtab'
for letter in myString:
    print(letter)

m
a
h
t
a
b

In [39]:
for letter in myString:
    if letter=='a':
        continue
    print(letter)

m
h
t
b

In [40]:
for letter in myString:
    if letter=='a':
        break
    print(letter)

m

In [41]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [3]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [4]:
range(0,11,2)

range(0, 11, 2)

In [5]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [6]:
index=0
for letter in 'Mahtab':
    print('at index {0} the letter is {1}'.format(index,letter))
    index+=1

at index 0 the letter is M
at index 1 the letter is a
at index 2 the letter is h
at index 3 the letter is t
at index 4 the letter is a
at index 5 the letter is b

In [7]:
for item in enumerate('Mahtab'):
    print(item)

(0, 'M')
(1, 'a')
(2, 'h')
(3, 't')
(4, 'a')
(5, 'b')

In [8]:
for index,letter in enumerate('Mahtab'):
    print(f'index={index}, letter={letter}')

index=0, letter=M
index=1, letter=a
index=2, letter=h
index=3, letter=t
index=4, letter=a
index=5, letter=b

In [9]:
mylist1=[1,2,3,4,5,6]
mylist2=['m','a','h','t','a','b']

In [10]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'm')
(2, 'a')
(3, 'h')
(4, 't')
(5, 'a')
(6, 'b')

In [11]:
mylist3=[100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'm', 100)
(2, 'a', 200)
(3, 'h', 300)

In [12]:
list(zip(mylist1,mylist2))

[(1, 'm'), (2, 'a'), (3, 'h'), (4, 't'), (5, 'a'), (6, 'b')]

In [13]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a)

1
2
3

In [14]:
'x' in [1,2,3]

False

In [15]:
'x' in ['x','y','z']

True

In [16]:
'mahtab' in {'mahtab':27,'zahra':25}

True

In [18]:
27 in {'mahtab':27,'zahra':25}.values()

True

In [19]:
27 in {'mahtab':27,'zahra':25}.keys()

False

In [21]:
('mahtab',27) in {'mahtab':27,'zahra':25}.items()

True

In [22]:
mylist5=[11,12,14,16,17,1]

In [23]:
min(mylist5)

1

In [24]:
max(mylist5)

17

In [25]:
from random import shuffle

In [26]:
mylist6=[1,2,3,4,5,6,7,8,9]

In [27]:
shuffle(mylist6)

In [28]:
mylist6

[6, 7, 9, 3, 1, 4, 5, 8, 2]

In [29]:
shuffle(mylist6)

In [30]:
mylist6

[1, 9, 3, 4, 6, 8, 7, 5, 2]

In [31]:
mylist7=shuffle(mylist6)

In [32]:
mylist7

In [33]:
type(mylist7)

NoneType

In [34]:
from random import randint

In [35]:
randint(0,50)

40

In [36]:
randint(0,50)

18

In [37]:
result=input('what is your name?')

what is your name?mahtab

In [38]:
result

'mahtab'

In [39]:
result=input('what is your favorite number?')

what is your favorite number?23

In [40]:
float(result)

23.0

In [41]:
int(result)

23

In [42]:
myname='Mahtab'

In [43]:
my_string=[]
for letter in myname:
    my_string.append(letter)

In [44]:
my_string

['M', 'a', 'h', 't', 'a', 'b']

In [45]:
my_string=[]

In [46]:
my_string=[letter for letter in myname]

In [47]:
my_string

['M', 'a', 'h', 't', 'a', 'b']

In [48]:
mylist=[x for x in 'myword']

In [49]:
mylist

['m', 'y', 'w', 'o', 'r', 'd']

In [50]:
mylist=[num for num in [1,2,3,4,5]]

In [51]:
mylist

[1, 2, 3, 4, 5]

In [52]:
mylist=[num**2 for num in [1,2,3,4,5]]

In [53]:
mylist

[1, 4, 9, 16, 25]

In [54]:
mylist=[x for x in range(0,10) if x%2==0]

In [55]:
mylist

[0, 2, 4, 6, 8]

In [58]:
celcius=[0,10,20,30,44.5]
farenheit=[((9/5)*temp+32) for temp in celcius]

In [59]:
farenheit

[32.0, 50.0, 68.0, 86.0, 112.10000000000001]

In [60]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [61]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [63]:
mylist=[]
for x in [1,2,3]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [64]:
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [65]:
mylist=[]
mylist=[x*y for x in [1,2,3] for y in [100,200,300]]

In [66]:
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

Use range() to print all the even numbers from 0 to 10.

In [67]:
mylist=[x for x in range(0,10) if x%2==0]

In [68]:
mylist

[0, 2, 4, 6, 8]


Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [69]:
mylist=[x for x in range(1,50) if x%3==0]

In [70]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]


Go through the string below and if the length of a word is even print "even!"

In [71]:
st = 'Print every word in this sentence that has an even number of letter'

In [73]:
list_of_letter=st.split()

In [74]:
list_of_letter

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letter']

In [76]:
my_string_letter=[x for x in st.split() if len(x)%2==0]

In [77]:
my_string_letter

['word',
 'in',
 'this',
 'sentence',
 'that',
 'an',
 'even',
 'number',
 'of',
 'letter']


Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [89]:
for item in range(1,100):
    if item%5 and item%3:
        print('FizzBuzz')
    elif item%3==0:
        print('Fizz')
    elif item%5==0:
        print('Buzz')
    else:
        print(num)

FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz

Use List Comprehension to create a list of the first letters of every word in the string below:

In [79]:
st = 'Create a list of the first letters of every word in this string'

In [80]:
my_firts_letter=[x[y] for x in st.split() for y in range(0,1)]

In [82]:
my_firts_letter

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [83]:
st = 'Print only the words that start with s in this sentence'

In [87]:
my_firts_letter=[x for x in st.split() for y in range(0,1) if x[y]=='s']

In [88]:
my_firts_letter

['start', 's', 'sentence']